/* .admin-header{
position:fixed;
left:250px;
right:0;
top:0;
height:60px;
z-index:1000;
}
.admin-sidebar{
width:250px;
height:100vh;
position:fixed;
left:0;
top:0;
}
.admin-footer{
position:fixed;
bottom:0;
left:250px;
right:0;
}
.admin-content{
margin-left:250px;
margin-top:60px;
padding:20px;
} */